
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300;600;900&family=Montserrat:wght@400;800&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Capriola', sans-serif;
    font-size: 14px;
    color: #2B1F40;
}   

body {
    background-color: #EFECEB;
    margin: 0px;
    font-size: 14px;
}

h1 {    
    font-family: 'Capriola', sans-serif;
    font-size: 30px;
    color: #2B1F40;
    display: block;
    text-align: center;
}

h2 {
    font-family: 'Capriola', sans-serif;
    font-size: 20px;
    color: #2B1F40;
    text-align: center;
}

header nav #miUL li {
    list-style: none;  
}

header nav #miUL li a {
    text-decoration: none;
    color: #2B1F40;
}

header nav #miUL li a:hover {
    text-shadow: 5px 3px 5px #5EC2DA;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    color: #2B1F40;
    border-bottom: 1px solid #2B1F40;
}

ul#miUL {
    display: flex;
    flex-direction: row;
    gap: 75px;
}

/* Banner Carrousel */

#carrouselImagenes .hcg-slide-container {
	width: auto;
	height: auto;
    border-bottom: 1px solid #2B1F40;

}

.hcg-slider {
	text-align: center;
    font-family: 'Capriola', sans-serif;
}

.hcg-slide-container {
	max-width: 100%;
	display: inline-block;
	position: relative;
}

.hcg-slides {
	display: none;
	overflow: hidden;
	justify-content: center;
	align-items: center;
}

.hcg-slides img {
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
}

#hcg-slide-prev, #hcg-slide-next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	margin-top: -22px;
	color: #2B1F40;
	font-weight: bold;
	font-size: 18px;
	transition: 0.6s ease;
 	text-decoration: none;
}

#hcg-slide-next {
	right: 0;
}

#hcg-slide-prev {
	left: 0;
}

#hcg-slide-prev:hover, #hcg-slide-next:hover {
	background-color: transparent;
}
/*CSS Animation*/

.animated { 
	animation-name: fadeIn; 
	animation-duration: 2s;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.fadeIn {
	animation-name: fadeIn;
}

/*Sección servicios*/

.seccion-servicios {
    height: 1300px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 30px 130px;
    background-color: white;
    border-bottom: 1px solid #2B1F40;
}

.fondo_servicios{
    height: 800px;
    width: 100%;
    position: absolute;
    z-index: -10;
    margin: 100px auto;
    opacity: 0.2;
}

.servicios-titulo {
    grid-column: 1/ span 6;
    text-align: center;
    font-size: 3em;
}

.box1 {
    grid-column: 1/ span 2;
}

.box2 {
    grid-column: 3/ span 2; 
}

.box3 {
    grid-column: 5/ span 2;
}

.box4 {
    grid-column: 1/ span 2;
}

.box5 {
    grid-column: 3/ span 2;
}

.box6 {
    grid-column: 5/ span 2;
}

.servicios-subtitulo {
    grid-column: 1/ span 6;
    text-align: center;
    font-size: 3em;   
}

.box8 {
    grid-column: 1/ span 1;
}

.box9 {
    grid-column: 2/ span 1;
}

.box10 {
    grid-column: 3/ span 1;
}

.box11 {
    grid-column: 4/ span 1;
}

.box12 {
    grid-column: 5/ span 1;
}

.box13 {
    grid-column: 6/ span 1;
}

.box {
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio-subtitulo{
    text-align: start;
    font-weight: bold;
    align-self: flex-start;
}

.servicio-texto{
    font-size: 15px;
}

.servicio-img{
    height: 200px;
    width: 100%;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.caract-titulo{
    text-align: center;
    display: block;
}

.caract-icono{
    width: 50px;
    height: 50px;
    
    
}

.caract-descripcion{
    text-align: center;
    margin: 0 10px 10px;
}

.servicio-texto{
    text-align: center;
}

/* Formulario cotizacion */

.invisible {
    display: none;
}

section#cotizacion{
    padding: 20px;
    padding-bottom: 80px;
    display: block;
    align-self: center;
    justify-content: center;
    border-bottom: 1px solid #2B1F40;

}

label {
    display: flex;
    align-items: center;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
    
}

form.cotizacion {
    width: 500px;
    padding: 2.5rem 0.625rem;
    border-radius: 10px;
    padding-left: 30%;
}
  
.form-group {
    margin: 1rem auto 1.25rem 1.25rem ;
    padding: 0.25rem;
}
  
select{
    margin: 1rem;
}

select#dropdown{
    margin-left: 2rem;
    margin-right: 2rem;
}

p#arribaDelDrop{
    margin-left: 2rem;
}

div#botonesCotizacion{
    margin-left: 0.7rem;
}

.form-control {
    display: block;
    width: 90%;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    color: #2B1F40 ;
    background-color: white;
    background-clip: padding-box;
    border: 1px solid #2B1F40 ;
    border-radius: 10px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
  
.form-control:focus {
    border-color: #f3f3eb ;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
  
.input-textarea {
    min-height: 120px;
    width: 100%;
    padding: 0.625rem;
    resize: vertical;
}
  
.submit-button {
    width: 50%;
    padding: 0.75rem;
    margin-top: 2rem;
    background:  #5EC2DA;
    color: #2B1F40;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #2B1F40
}
  
div#submit-button{
    margin-left: 2rem;
}

.skip {
    padding: 0.75rem;
    color: #2B1F40;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

/* Testimonios */

.testimonios {
    padding: 40px;
    border-bottom: 1px solid #2B1F40;
}

.testimonios-titulo{
    display: flex;
    justify-content: center;
    font-size: 2em;
    font-weight: normal;

}

.carousel {
    position: relative;
    width: 685px;
    height: 217px;
    margin: 0 auto;
    overflow: hidden;
    border-radius: 10px;
    border: 1px solid #2B1F40;
}

.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.9s ease;
}

.carousel img.active {
    opacity: 1;
}

.carousel img:first-child {
    opacity: 1;
}

@media (max-width: 685px) {
    .carousel {
    width: 100%;
    height: auto;
    }
    
    .carousel img {
    position: relative;
    }
}

/* Quienes somos? */

.quienes-somos {
    height: 500px;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    padding: 30px 130px;
    background-color: white;
    border-bottom: 1px solid #2B1F40;
}

.quienes-somos-titulo {
    grid-column: 1/ span 6;
    text-align: center;
    font-size: 3em;
}

.box {
    margin: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.8s;
    -webkit-transition: 0.8s;
    -moz-transition: 0.8s;
    -ms-transition: 0.8s;
    -o-transition: 0.8s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.box1 {
    grid-column: 1/ span 2;
}

.box2 {
    grid-column: 3/ span 2;
}

.box3 {
    grid-column: 5/ span 2;
}

.box4 {
    grid-column: 1/ span 2;
}

.box5 {
    grid-column: 3/ span 2;
}

.box6 {
    grid-column: 5/ span 2;
}

/* Sección contacto */
.contacto {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #EFECEB;
    padding: 20px 0;
    border-bottom: 1px solid #2B1F40
}

.contacto-left {
    border-radius: 10px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid #2B1F40;
    width: 30%;
    height: 450px;
    display: flex;
    justify-content: center;
    background-color: #5EC2DA;
    color: #F6F4EF;
    border-right: none;
}

.contacto-titulo {
    text-align: center;
    text-decoration: none;
    padding-top: 20px;
}

.boton-enviar{
    width: 100%;
    margin-top: 10px;
    transition: 2s;
}

.boton-enviar:hover{
    background-color: #5EC2DA;
}

.contacto-form-grupo {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin-top: 10px;   
}

.contacto-form-label {
    display: block;
    margin-top: 10px;
}

.contacto-form-input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    max-width: 100%;
    box-sizing: border-box;
    background-color: white;
    border: none;
    border: 1px solid #2B1F40;
    color: #2B1F40;
}

.contacto-form-input:focus{
    outline: none;  
}

.contact-form-textarea {
    width: 100%;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    line-height: 1.5;
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    resize: none;
    background: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 1px solid #2B1F40;
    background-color: white;
    color: #2B1F40;
}

.contact-form-textarea:focus{
    outline: none;
}

.contacto-form-boton {
    background-color: #FBC92E;
    color: #2B1F40;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    border: 1px solid #2B1F40
 }

.contacto-right {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #EFECEB;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 0 40px;
    border: 1px solid #2B1F40;
    border-left: none;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.contacto-redes {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.contacto-redes-link {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contacto-redes-img{
    width: auto;
    height: 40px;
    transition: 0.5s;
}

.contacto-redes-img:hover{
    transform: scale(1.2);
}

.contacto-link-nombre{
    font-size: 11px;
    transition: 0.5s;
}

.contacto-link-nombre:hover{
    opacity: 0.5;
}

.facebook{
    color: blue;
}

.twitter{
    color: cornflowerblue;
}

.instagram{
    color: rgb(207, 52, 238);
}

.contacto-ubicacion {
    border-radius: 10px;
    height: 250px;
    width: 340px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.contacto-ubicacion-maps{
    border-radius: 10px;
    border: 1px solid #2B1F40;
}

.contacto-subtitulo{
    color: #2B1F40;
    font-size: 1.4em;
}

.formulario-enviado{
    align-content: center;
    align-items: center;
    flex-direction: column-reverse;
    height: 100px;
    margin: auto 20px;
}

.formulario-enviado-imagen{
    width: 100px;
    height: 100px;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #f2f2f2;
    padding: 10px;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer p {
    margin: 0;
    font-size: 14px;
  }

.fa {
    font-size: 14px;
    height:40px;
    color: gray;
    background-color: #efeceb;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid black;
}
